{% extends 'app_simple.twig' %}


{% block stylesheets %}
	<!-- Select2 -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block script_include %}
	<!-- Select2 -->
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}

{% block page_content %}

	<div class="login-box">
		<div class="login-logo">
			Kréta
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">


			<div class="row">


				<a href="{{ path_for('implicit') }}" class="btn btn-primary btn-block btn-flat">Bejelentkezés krétán</a>

					
			</div>
			<!-- /.login-box-body -->
		</div>
		<!-- /.login-box -->
	{% endblock %}

	{% block script %}{% endblock %}
