{% extends 'app_auth.twig' %}

{% block include_stylesheets %}{% endblock %}
{% block include_javascripts %}{% endblock %}

{% block pageheader %} 
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="./">IIR</a>
        <span class="breadcrumb-item active">HelloWorld</span>
    </nav>
{% endblock %}
                
{% block head %}


{% endblock %}
            
{% block body_content %}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">HelloWorld Box</h3>
        </div>
        <div class="box-body">

          

        </div>
        <div class="box-footer">
            Footer
        </div>
    </div>

{% endblock %}

{% block body_tail %}

{% endblock %}
