// ========
// GENEREAL
// ========

// LOGO

body {
    .main-header {
        .logo {
            color: white;
            font-size: 21px;
            line-height: normal;
            > .logo-mini {
                font-family: 'Good Times';
                line-height: 50px;
                font-size: 22px !important;
            }
            > .logo-lg {
                text-align: center;
                overflow: hidden;
                > div {
                    margin: 0 auto;
                    overflow: visible;
                    text-align: center;
                    width: 140px;
                    > div {
                        text-align: right;
                        width: auto;
                        float: left;
                        position: relative;
                        margin-top: 3px;
                        display: flex;
                        flex-direction: column;
                        &:hover {
                            color: white;
                        }
                        > div:first-child {
                            font-family: 'Good Times';
                            font-size: 22px;
                            line-height: normal;
                            float: right;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        > div:last-child {
                            font-size: 10px;
                            line-height: 1.1em;
                            float: right;
                            overflow: hidden;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #FFCC00;
                            white-space: nowrap;
                        }
                    }                    
                }
            }
        }
    }
}

.toggle-main-header {
    width: 14px !important;
    padding: 0 !important;
    padding-top: 15px !important;
    overflow: hidden;
    height: 50px;
    text-align: center;
    line-height: 50px;
    &:before {
        content: "\f142";
        font-family: FontAwesome;
    }
}


body.main-header-collapsed {
    header.main-header {
        height: 14px;
        overflow: hidden;
    }
    .toggle-main-header {
        background-color: @brand-primary !important;
        position: fixed;
        width: 100% !important;
        left: 0;
        right: 0;
        height: 14px;
        padding-top: 0 !important;
        &:before {
            content: "\f141";
        }
    }
}

// BLOCKQUOTE

blockquote {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
    font-size: inherit;
}

.main-header {
    .navbar {
        .sidebar-toggle {
            font-family: "Font Awesome 5 Pro";
            font-size: 16px;
            &:before {
                content: "\f0c9";
            }
        }
    }
}

// FORM

.form-group {
    label {
        span {
            font-weight: normal;
            width: 100%;
            float: left;
            font-size: 0.9em;
        }
    }
    .display-flex {
        div {
            line-height: 30px;
            height: 30px;
        }
    }
}

input.input-xs {
    height: 22px;
    padding: 0px 5px;
    font-size: 12px;
    line-height: 22px;
}

select.input-xs {
    height: 22px;
    padding: 0px 5px;
    font-size: 12px;
    line-height: 22px;
}

div.input-sm {
    padding-top: 0;
    padding-bottom: 0;
}

legend {
    font-size: 16px;
    font-weight: bold;
}

.display-flex {
    display: flex;
}

// BOX
.box {
    border-radius: 0;
}

// FOOTER

.main-footer {
    padding-top: 8px;
    padding-bottom: 8px;
}

// DROPWON

.dropdown-menu-left {
    left: 0 !important;
}

.dropdown-menu-100 {
    width: 100%;
}

// TABLE

table.table-actions {
    > tbody > tr {
        > td {
            &:last-child {
                width: 1%;
                white-space: nowrap;
            }
        }
    }
}

table.table-icons {
    > thead > tr {
        > th {
            &:first-child {
                padding: 0;
            }
        }
    }

    > tbody > tr {
        > td {
            &:first-child {
                width: 1%;
                white-space: nowrap;
            }
        }
    }   
}

// nav tabs

.content-body {
    div.nav-tabs-custom {
        // background-color: transparent;
        > ul.nav.nav-tabs {
            border-right-width: 0;
            > li {
                > a {
                    padding: 5px 15px;
                }
            }
        }
        &.nav-tabs-custom-ext {
            .tab-content {
                // background-color: #EAEAEA;
            }
            > ul.nav.nav-tabs {
                > li.active {
                    > a {
                        // background-color: #EAEAEA;
                    }
                }
            }
        }
    }
}

// toastr

.toast-top-center {
    padding-top: 10px;
}

#toast-container > div {
    opacity: 1;
}

// dropdown

.dropdown-menu {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

// select2

.select2 {

    .select2-selection {
        border-color: #d2d6de;
        border-radius: 0;
        // .select2-selection__rendered {
            // margin: -7px;
        // }
    }
}


// datatable 

.dataTables_filter {
    .dataTables_filter_reset {
        position: absolute;
        right: 20px;
        top: 3px;
        color: #d2d6de;
        cursor: pointer;
        font-size: 12px;
        &:hover {
            color: #dd4b39;
        }

    }
    input.input-sm {
        height: 22px;
        padding: 0px 5px;
        font-size: 12px;
    }
}

.dataTables_length {
    font-size: 12px;
    select {
        height: 22px;
        line-height: 22px;
        padding: 0;
    }
    .select2 {
        font-size: 12px;
        .select2-selection {
            height: 22px;
            .select2-selection__rendered {
                line-height: 16px;
            }
            .select2-selection__arrow {
                height: 16px;
            }
        }
    }
}

.dataTables_paginate {
    ul {
        li {
            a {
                font-size: 12px;
                padding: 2px 6px;

            }
        }
    }
}

.dataTables_info {
    font-size: 12px;
}

// PACE

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #FFFFFF;
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

// POPOVER

div.popover.confirmation {
    .confirmation-buttons {
        .btn-group {
            // display: flex;
            min-width: 100px;
            .btn-ok {
                i {
                    // color: #009900;
                }
            }
            .btn-cancel {
                i {
                    // color: #FF3333;
                }
            }
        }
    }
}

.popover {
    min-width: 160px;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    .popover-title {
        padding: 5px;
    }
    .popover-content {
        max-height: 500px;
        overflow-y: hidden;
        font-size: 11px;
        padding: 5px;
        // background-color: #1F272A;
        // color: #b8c7ce;
    }
}

.popover.popover-oversized {
    max-width: 480px;
}


.form-group .help-block {
    margin-top: 0;

}

// HELPER

.helper-icon.fa {
    margin-left: 6px;
    margin-right: 6px;
}

ul[data-widget=tree] {
    .treeview {
        .treeview-menu {
            margin-left: 0;
            padding: 0;
            li a {
                padding-left: 20px;
                // font-size: 0.9em;
            }
        }
    }
}

// MODAL

div.modal {
    z-index: 11050;
}

div.modal {
    .loader {
        font-size: 2em;
        padding: 20px;
        text-align: center;
    }
}

div.modal div.modal-dialog {
    div.modal-header, div.modal-footer, div.modal-body  {
        padding: 10px;
    }
    div.modal-header {
        a {
            float: right;
            font-size: 16px;
            padding: 0;
            margin: 4px;
            line-height: 1;
            color: white;
            opacity: 1;
            &:hover {
                cursor: pointer;
            }
            &:after {
                display: none;
            }
        }
    }
}

div.modal:not(.modal-fullscreen) div.modal-dialog {
    div.modal-body {
        max-height: 720px;
        overflow: auto;
    }
}

div.modal-backdrop {
    background-color: #FFFFFF;
    z-index: 11040;
}

div.modal.modal-fullscreen {
    div.modal-dialog {
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        position: fixed;
        div.modal-content {
            position: fixed;
            width: 100%;
            height: 100%;
            margin: 0;
            border: 1px solid white;
            border-radius: 0;
            background-color: white;
            overflow-y: auto;
        }
    }
}

ul.sidebar-menu {
    .pull-right-container {
        small {
            min-width: 18px;
            text-align: center;
            line-height: 14px;
            height: 14px;
            padding: 0;
            padding-left: 2px;
            padding-right: 2px;
            font-size: 10px;
            i.fa {
                margin-top: 2px;
            }
            i.icon-redmine {
                margin-right: 0;
            }
        }
    }
    li {
        a {
            img {
            }
        }
    }
}

// ADMIN LTE THEMES

#control-sidebar-theme-options-tab {
    ul {
        li {
            float: left;
            width: 33.33333%;
            padding: 4px;
            > p {
                font-size: 10px;
            }
            > a {
                display: block;
                box-shadow: 0 0 3px rgba(0,0,0,0.4);
                border: 1px solid #999999;
                &:hover {
                    border: 1px solid #AAAAAA;
                }
                > div:nth-child(1) {
                    span:nth-child(1) {
                        display:block; width: 20%;
                        float: left;
                        height: 7px; 
                    }
                    span:nth-child(2) {
                        display: block;
                        width: 80%;
                        float: left;
                        height: 7px;
                    }
                }
                > div:nth-child(2) {
                    span:nth-child(1) {
                        display: block;
                        width: 20%;
                        float: left;
                        height: 20px; 
                    }
                    span:nth-child(2) {
                        display: block;
                        width: 80%;
                        float: left;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.box-body .box-header.bg-primary {
    color: #FFF;
}

.daterangepicker.dropdown-menu {
    z-index: 12000 !important;
}

// ==========================
// Awesome Bootstrap Checkbox
// ==========================

@import "../less_helper/awesome-bootstrap-checkbox.less";
td .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    label::after {
        padding-left: 1px;
    }
}

.table.table-icon td:first-child .checkbox {
    padding-left: 6px;
}

.table.table-icon.table-actions td:first-child .checkbox {
    padding-top: 4px;
}


// ============
// CUSTOM SKINS
// ============

@import "../less_helper/bootstrap/less/mixins.less";
@import "../less_helper/bootstrap/less/variables.less";

@import "../less_helper/variables.less";
@import "../less_helper/mixins.less";

// SKIN: ALFI-PINK

.skin-alfi-pink {
    a {
        color: #c46aaf;
    }
    .box.box-primary {
        border-top-color: #c46aaf;
    }
    .nav-tabs-custom>.nav-tabs>li.active {
        border-top-color: #c46aaf;
    }
    .btn {
        color: white;
    }
    .btn.btn-box-tool {
        color: #c46aaf;
    }
    .btn.btn-primary {
        background-color: #c46aaf;
        border-color: darken(#c46aaf, 5%);
        color: white;
    }
    .btn.btn-default {
        color: #444;
    }
    .bg-primary {
        background-color: #c46aaf;
        color: white;
    }
    .checkbox-primary input[type="checkbox"]:checked+label::before, .checkbox-primary input[type="radio"]:checked+label::before {
        background-color: #c46aaf;
        border-color: #c46aaf;
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
        background-color: #c46aaf;
        border-color: #c46aaf;
    }
    .form-control:focus {
        border-color: #c46aaf;
    }

    //Logo
    .logo {
        .logo-lg {
            > div:first-child {
                > div {
                    > div {
                    }
                    > div:last-child {
                        color: lighten(#c46aaf, 25);
                    }
                }
            }
            > div:last-child {


            }
        }
    }


  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(#c46aaf; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(#c46aaf, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(#c46aaf, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      .logo-variant(darken(#c46aaf, 5%));
    }

    li.user-header {
      background-color: #c46aaf;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  // .skin-dark-sidebar(#c46aaf);

  //Sidebar

  aside.main-sidebar {
    background-color: #fff0fb;
    ul.sidebar-menu {
        li {
            > a {
                color: #777;
                font-weight: normal;
                border-left: 4px solid #ffffff;
            }
            &:hover {
                & > a {
                    color: #c46aaf;
                    background-color: darken(#fff0fb, 3%);
                    border-left: 4px solid #c46aaf;
                }
            }
            &.active > a {
                color: #c46aaf;
                background-color: darken(#fff0fb, 3%);
                border-left: 4px solid #c46aaf;
            }
            &.header {
                color: #c46aaf;
                font-weight: bold;
                background-color: darken(#fff0fb, 10%);
            }
        }
    }
  }

  // Content
  .content-wrapper {
    background-color: #fff7fc;
    // background-image: url(//dev.profile.niif.hu/img/kifu_white.png);
    // background-repeat: no-repeat;
    // background-position: 110% 110%;
    // background-size: auto 70%;
  }

}

// SKIN: ALFI-IIR

.skin-alfi-iir {
  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(#2c3e50; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(#2c3e50, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(#2c3e50, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      .logo-variant(darken(#2c3e50, 5%));
    }

    li.user-header {
      background-color: #2c3e50;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(#2c3e50);
}

// ===================
// SKIN: ALFI-HALFLIFE
// ===================

.skin-alfi-halflife {
  .box {
    background-color: #444444;
    &.box-primary {
        border-top-color: #FF9900;
    }
    .box-header {
        border-bottom-color: #FF9900;
    }
  }

  table.table {
    border-collapse: collapse !important;
    tr:nth-of-type(odd) {
        background-color: #555555;
    }
    &.table-bordered {
        border: 1px solid #333333;
        tr {
            &:hover {
                td {
                    background-color: #666666;
                }
            }
            td, th {
                border: 1px solid #333333;
            }
            th {
                color: #FF9900;
                &.sorting_asc, &.sorting_desc {
                    color: #FFFFFF;
                }
            }
        }
    }
  }

  // footer

  .main-footer {
    background-color: #000000;
    color: #FF9900;
    border-top: 0;
    border-bottom: 1px solid black;
    a {
        color: #FFFFFF;
    }
  }

  // control sidebar

  .control-sidebar, .control-sidebar-bg {
    background-color: #222222;
  }

  // Navbar
  .main-header {
    .navbar {
      .navbar-variant(#444444; #FFF);
      .sidebar-toggle {
        color: #FF9900;
        &:hover {
          background: transparent;
          color: #FFCC00;
        }
      }
      &.navbar.navbar-static-top {
        a.sidebar-toggle:hover {
            background-color: #222222;
            color: #FFCC00;
        }
      }
      .navbar-custom-menu {
        .nav.navbar-nav {
            li {
                a, div.appcenter-outer {
                    color: #FF9900;
                    &:hover {
                        background-color: #222222;
                        color: #FFCC00;
                    }
                }
            }
            #appcenter {
                span {
                    color: #FF9900;
                    &.photo {
                        border-color: #FF9900;
                    }
                }
            }
            #appcenter:hover {
                span {
                    color: #FFCC00;
                    &.photo {
                        border-color: #FFCC00;
                    }
                }
            }
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(#2A2A2A, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
        .logo-variant(darken(#2A2A2A, 5%));
        background-color: #000000;
        &:hover {
            // background-color: #FFCC00;
        }
        img, div {
            // -webkit-filter: drop-shadow( 0px 0px 1px black );
            // filter: drop-shadow( 0px 0px 1px black );
        }
        div {
            // color: #000000 !important;
        }
    }

    li.user-header {
      background-color: #2A2A2A;
    }
  }
  //Sidebar
  aside.main-sidebar {
    background-color: #444444;
    ul.sidebar-menu {
        li {
            a {
                color: #FF9900;
                border-left-width: 4px;
            }
            &:hover {
                a {
                    color: #FFCC00;
                    background-color: #222222;
                    border-left-color: #FFCC00;
                }
            }
            &.active > a {
                background-color: #FF9900;
                color: #000000;
                border-left-color: #000000;
            }
            &.header {
                background-color: #111111;
                color: white;
            }
        }
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(#333333);

  // Content
  .content-wrapper {
    background-color: #333333;
    color: #999999;
  }

}


// ===============
// SKIN: ALFI-KIFU
// ===============

.skin-alfi-kifu {
  .btn-primary {
    background-color: #3377b7;
  }

  .box {
    &.box-primary {
        border-top-color: #3377b7;
    }
  }

  .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #3377b7;
  }

  // footer

  .main-footer {
    background-color: #FFFFFF;
    color: #666666;
    border-top: 0;
    a {
        color: #333333;
    }
  }

  // Navbar
  .main-header {
    .navbar {
      .navbar-variant(#e1e1e1; #000);
      background-color: #3e77bc;
      background-image: url(//dev.profile.niif.hu/img/header_bg_alfi_kifu.png);
      background-repeat: no-repeat;
      background-position: -150px 0;      
      color: #FFFFFF;
      .sidebar-toggle {
        color: #FFFFFF;
        &:hover {
            background-color: darken(#3377b7, 5%);
            color: #FFFFFF;
        }
      }
      &.navbar.navbar-static-top {
        a.sidebar-toggle:hover {
        }
      }
      .navbar-custom-menu {
        > ul.nav.navbar-nav {
            > li {
                > a, div.appcenter-outer {
                    color: #FFFFFF;
                    &:hover {
                        background-color: darken(#3377b7, 5%);
                    }
                    #appcenter {
                        span {
                            color: #FFFFFF;
                            &.photo {
                                border-color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(#2A2A2A, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
        background-color: #3d76b9;
        background-repeat: no-repeat;
        background-position: -100px 0px;
        color: #FFFFFF;
        padding: 0px;
        .logo-mini {
            background-color: #4d83c1;
            div {
                color: #FFFFFF;
            }
        }
        .logo-lg {
            height: 50px;
            background-image: url(//dev.profile.niif.hu/img/header_logo_bg_alfi_kifu.png);
            background-repeat: no-repeat;
            background-color: #4d83c1;
            > div:first-child {
                > div {
                    padding-left: 25px;
                    > div {
                        color: #FFFFFF;
                    }
                    > div:last-child {
                        color: #FFFFFF;
                    }
                }
            }
            > div:last-child {

                position: absolute;
                top: 0;
                left: 0;
                height: 50px;
                background-repeat: no-repeat;

            }
        }
        &:hover {
        }
        img, div {
            color: #046081;
        }
        div {
        }
    }

    li.user-header {
      background-color: #2A2A2A;
    }
  }

  //Sidebar

  aside.main-sidebar {
    // background-color: #e1e1e1;
    ul.sidebar-menu {
        li {
            > a {
                color: #444;
                font-weight: normal;
                border-left: 4px solid #ffffff;
            }
            &:hover {
                & > a {
                    color: #000;
                    background-color: #f5f5f5;
                    border-left: 4px solid #3377b7;
                }
            }
            &.active > a {
                color: #000;
                background-color: #f5f5f5;
                // color: #046081;
                border-left: 4px solid #3377b7;
            }
            &.header {
                // color: #e6e6e6;
                background-color: #e6e6e6;
            }
        }
    }
  }

  // Content
  .content-wrapper {
    // background-image: url(//dev.profile.niif.hu/img/kifu_white.png);
    // background-repeat: no-repeat;
    // background-position: 110% 110%;
    // background-size: auto 70%;
  }

}


.skin-alfi-kifu-custom {

  //Sidebar

  aside.main-sidebar {
    background-color: #e1e1e1;
    ul.sidebar-menu {
        li {
            & > a {
                color: #3377b7;
                border-left: 4px solid #e1e1e1;
                font-weight: normal;
            }
            &:hover {
                & > a {
                    color: #3377b7;
                    background-color: #d6d6d6;
                    border-left: 4px solid #3377b7;
                }
            }
            &.active > a {
                background-color: #d6d6d6;
                color: #3377b7;
                border-left: 4px solid #3377b7;
            }
            &.header {
                background-color: darken(#e1e1e1, 10%);
            }
        }
    }
  }
}

.skin-alfi-kifu-dark {

  //Sidebar

  aside.main-sidebar {
    background-color: #222d32;
    ul.sidebar-menu {
        li {
            & > a {
                color: #b8c7ce;
                border-left: 4px solid #263135;
                font-weight: normal;
            }
            &.treeview.menu-open > a {
                background-color: #1e282c;
                border-left-color: #1e282c;
                color: #FFFFFF;
            }
            &.treeview.menu-open.active > a {
                border-left: 4px solid #3377b7;
            }
            ul {
                background-color: #2e3d43;
                a {
                    border-left-color: #2e3d43;
                }
                a:hover {
                    background-color: #2e3d43;
                    border-left-color: #2e3d43;
                }
            }
            &:hover {
                & > a {
                    color: #FFFFFF;
                    background-color: #1e282c;
                    border-left: 4px solid #1e282c;
                }
            }
            &.active > a {
                background-color: #1e282c;
                color: #FFFFFF;
                border-left: 4px solid #3377b7;
            }
            &.header {
                background-color: #1a2226;
                color: #4b646f;
            }
            li.active > a {
                color: white;
                background-color: #2e3d43;
                border-left: 4px solid #2e3d43;
                i.fa.fa-circle-o::before {
                    content: "\f111" !important;
                }
            }
        }
    }
  }
}
