# Ignore everything
*

# Except a few CSS file
!assets/adminlte/css/adminlte.min.css
!skeleton2/css/alfi.css

# Except a few JS files
!assets/bootstrap/js/bootstrap.bundle.min.js
!assets/adminlte/js/adminlte.min.js
!js/alfi.js