  <aside class="control-sidebar control-sidebar-dark">
    <div class="tab-content">

      <div id="control-sidebar-theme-options-tab" class="tab-pane active">
        <div>
          <h4 class="control-sidebar-heading">Témák</h4>
          <ul class="list-unstyled clearfix">

            <li>
              <a href="#" data-skin="skin-alfi-kifu" class="clearfix full-opacity-hover">
                <div>
                  <span style="background: #046081;"></span>
                  <span style="background: #05729a;"></span>
                </div>
                <div>
                  <span style="background: #e1e1e1;"></span>
                  <span style="background: #FFFFFF;"></span>
                </div>
              </a>
              <p class="text-center no-margin">KIFÜ</p>
            </li>

            <li>
              <a href="#" data-skin="skin-blue" class="clearfix full-opacity-hover">
                <div>
                  <span style="background: #367fa9;"></span>
                  <span class="bg-light-blue"></span>
                </div>
                <div>
                  <span style="background: #222;"></span>
                  <span style="background: #f4f5f7;"></span>
                </div>
              </a>
              <p class="text-center no-margin">Kék sötét</p>
            </li>

            <li>
              <a href="#" data-skin="skin-blue-light" class="clearfix full-opacity-hover">
                <div>
                  <span style="background: #367fa9;"></span>
                  <span class="bg-light-blue"></span>
                </div>
                <div>
                  <span style="background: #f9fafc;"></span>
                  <span style="background: #f4f5f7;"></span>
                </div>
              </a>
              <p class="text-center no-margin">Kék világos</p>
            </li>

            <li>
              <a href="#" data-skin="skin-purple" class="clearfix full-opacity-hover">
                <div>
                  <span class="bg-purple-active"></span>
                  <span class="bg-purple"></span>
                </div>
                <div>
                  <span style="background: #222d32;"></span>
                  <span style="background: #f4f5f7;"></span>
                </div>
              </a>
              <p class="text-center no-margin">Lila sötét</p>
            </li>

            <li>
              <a href="#" data-skin="skin-green" class="clearfix full-opacity-hover">
                <div>
                  <span class="bg-green-active"></span>
                  <span class="bg-green"></span>
                </div>
                <div>
                  <span style="background: #222d32;"></span>
                  <span style="background: #f4f5f7;"></span>
                </div>
              </a>
              <p class="text-center no-margin">Zöld sötét</p>
            </li>

            <li>
              <a href="#" data-skin="skin-red" class="clearfix full-opacity-hover">
                <div>
                  <span class="bg-red-active"></span>
                  <span class="bg-red"></span>
                </div>
                <div>
                  <span style="background: #222d32;"></span>
                  <span style="background: #f4f5f7;"></span>
                </div>
              </a>
              <p class="text-center no-margin">Piros sötét</p>
            </li>

            <li>
              <a href="#" data-skin="skin-yellow" class="clearfix full-opacity-hover">
                <div>
                  <span class="bg-yellow-active"></span>
                  <span class="bg-yellow"></span>
                </div>
                <div>
                  <span style="background: #222d32;"></span>
                  <span style="background: #f4f5f7;"></span>
                </div>
              </a>
              <p class="text-center no-margin">Sárga sötét</p>
            </li>

            <li>
              <a href="#" data-skin="skin-alfi-iir" class="clearfix full-opacity-hover">
                <div>
                  <span style="background: #23313f;"></span>
                  <span style="background: #2c3e50;"></span>
                </div>
                <div>
                  <span style="background: #222d32;"></span>
                  <span style="background: #f4f5f7;"></span>
                </div>
              </a>
              <p class="text-center no-margin">IIR sötét</p>
            </li>

            <li>
              <a href="#" data-skin="skin-alfi-halflife" class="clearfix full-opacity-hover">
                <div>
                  <span style="background: #000000;"></span>
                  <span style="background: #444444;"></span>
                </div>
                <div>
                  <span style="background: #444444;"></span>
                  <span style="background: #333333;"></span>
                </div>
              </a>
              <p class="text-center no-margin">Half-Life</p>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </aside>
  <div class="control-sidebar-bg"></div>
