{% block title %}
    Header 2
{% endblock %}.

{% block body %}

    <div class="card">
        <div class="card-body">
            <b class="text-success">Modal loaded! :)</b>
            ...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{ dump(data) }}
        </div>
    </div>

{% endblock %}.

{% block footer %}
    <input type="button" class="btn btn-primary" value="button1">
{% endblock %}.
