{% extends 'app.twig' %}

{% block include_stylesheets %}{% endblock %}
{% block include_javascripts %}{% endblock %}

{% block pageheader %} 
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="./">Skeleton</a>
        <span class="breadcrumb-item active">Documentation</span>
    </nav>
{% endblock %}
                
{% block head %}


  <script src="assets/codemirror/js/codemirror.js"></script>
  <script src="assets/codemirror/js/mode/xml.js"></script>
  <script src="assets/codemirror/js/mode/php.js"></script>
  <link rel="stylesheet" href="assets/codemirror/css/codemirror.css">

  <style>
    .CodeMirror{
        border: 1px solid #ddd;
        height: auto;
    }
    table.attribs {
        border: 1px solid #ddd;
    }
    table.attribs tr:nth-child(odd) {
        background-color: #eee;
    }
    table.attribs tr td {
        font-weight: normal;
    }

    .modal-spec {
        background: rgba(0,0,0,0.75);
    }
  </style>

{% endblock %}
            
{% block body_content %}

    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">ajax-modal</h3>
        </div>
        <div class="card-body">
            Modal nyitása és feltöltése XMLHttpRequest tartalommal.<br>
            <br>
            Használható tag-ek: <code><b>a, button</b></code><br>
            Szükséges class: <code><b>ajax-modal</b></code><br>
            <br>

            <h4>Attribútumok</h4>
            <div class="form-group">
                <table width="100%" border="0" cellpadding="10" class="attribs">
                    <tr>
                        <td>
                            <code>href</code>
                        </td>
                        <td>
                            Kötelező. A modalba betöltött HTML vázat tartalmazó URL, ami egy GET-es ajax hívással kerül megnyitásra. A URL-ről betöltött tartalom a modal <code>div.body-content</code>-jébe kerül bele.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>data-modal-title</code>
                        </td>
                        <td>
                            Kötelező. Beállítja a modal ablak fejlécét.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>data-modal-width</code>
                        </td>
                        <td>
                            Opcionális. A modal szélessége az attribútumban megadott pixel méretre változik.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>data-modal-class</code>
                        </td>
                        <td>
                            A modal skeletonjában <code>modal</code> class-t tartalmzó <code>div</code>-re felkerül az attribútumban megadott class.
                        </td>
                    </tr>
                    <tr>
                        <td nowrap valign="top">
                            <code>data-modal-dialog-class</code>
                        </td>
                        <td>
                            A modal skeletonjában <code>modal-dialog</code> class-t tartalmzó <code>div</code>-re felkerül az attribútumban megadott class. A gyári <code>modal-xl</code> egy nagyobb változatra lett módosítva. Így a gyárilag megegyező <code>modal-lg</code> és <code>modal-xl</code> nálunk különböző méretet ad.
                        </td>
                    </tr>
                </table>
            </div>

            <h4>Minták</h4>

            <div class="form-group">
                <a href="{{ path_for('documentation_ajax_modal_test') }}" data-modal-title="Test 1" class="ajax-modal btn btn-primary">Ajax modal</a>
                <a href="{{ path_for('documentation_ajax_modal_test_json') }}" data-modal-class="modal-spec" data-modal-dialog-class="modal-lg" class="ajax-modal btn btn-primary">Ajax modal with JSON</a>
            </div>

            <div class="form-group">
                <textarea id="example1" readonly>
<style>
    .modal-spec {
        background: rgba(0,0,0,0.75);
    }
</style>

<a href="{{ path_for('documentation_ajax_modal_test') }}" data-modal-title="Test 1" class="ajax-modal btn btn-primary">
    Ajax modal
</a>
<a href="{{ path_for('documentation_ajax_modal_test_json') }}" data-modal-class="modal-spec" data-modal-dialog-class="modal-lg" class="ajax-modal btn btn-primary">
    Ajax modal with JSON
</a></textarea>
             </div>

            <h4>Speciális esetek</h4>
            <div class="form-group">
                Ha a modal minden részére kihatással szeretnénk lenni és használni akarjuk a
                láblécét - mondjuk gombokat akarunk bele tenni - esetleg egyedi fejléc tartalmat akarunk,
                akkor egy megfelelő JSON válasz segítségével ezt megtehetjük.
            </div>
            <div class="form-group">
                
                <h4>JSON válasz</h4>

                <textarea id="example2" readonly>{
    modal-title: "This title came from a <b>JSON response</b>",
    modal-body: "<button class="btn btn-primary">HTML content's allowed</button>",
    modal-footer: "<a class="close btn btn-default">Mégse</a>"
}</textarea>

             </div>

        </div>
    </div>

{% endblock %}

{% block body_tail %}
<script>

CodeMirror.fromTextArea( document.getElementById('example1' ), {
    lineNumbers: true,
    mode: "xml",
    readOnly: true,
    height: "auto"
});   
CodeMirror.fromTextArea( document.getElementById('example2'), {
    lineNumbers: true,
    mode: "xml",
    readOnly: true,
    height: "auto"
});

function form_submit() {
    console.log('form submit function');
}

function form_ajax_success(header, data) {
    console.log("SUCCESS");
    console.log(header);
    console.log(data);
}

function form_ajax_fail(header, data) {
    console.log("FAIL");
    console.log(header);
    console.log(data);
}

$(function () {
    $('a.modal-ajax, input.modal-ajax').on('click', function() {
        $('.modal').modal('show');
        return false;
    })
})

</script>

{% endblock %}
