{% extends 'app.twig' %}

{% block include_stylesheets %}{% endblock %}
{% block include_javascripts %}{% endblock %}

{% block pageheader %} 
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="./">Skeleton</a>
        <span class="breadcrumb-item active">Documentation</span>
    </nav>
{% endblock %}
                
{% block head %}

{% endblock %}
            
{% block body_content %}

    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">CSS examples</h3>
        </div>
        <div class="card-body">
            <h4>.col-xxl-</h4>
            A Bootstrapes <code>.col-</code> tagek bővítve lettek egy új <code>.col-xxl-</code> taggel, ami 1700px szélesség felett aktiválódik.<br>
            <div class="row bg-light m-1">
                <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-1 border border-palette">col-xxl-2 col-xl-3 col-md-4 col-sm-1</div>
                <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-1 border border-palette">col-xxl-2 col-xl-3 col-md-4 col-sm-1</div>
                <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-1 border border-palette">col-xxl-2 col-xl-3 col-md-4 col-sm-1</div>
                <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-1 border border-palette">col-xxl-2 col-xl-3 col-md-4 col-sm-1</div>
                <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-1 border border-palette">col-xxl-2 col-xl-3 col-md-4 col-sm-1</div>
                <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-1 border border-palette">col-xxl-2 col-xl-3 col-md-4 col-sm-1</div>
            </div>
            <br>

            <h4>.min-w</h4>
            A <code>.min-w</code> css osztályt a datatable minimum szélességen tartandó (főleg gombok) celláira kell rátenni. Hatása, hogy a cella alkalmazkodik  tartalma szélességéhez, nem lesz se hosszabb annál, se rövidebb.
            <br>
            <br>

            <h4>Primary color</h4>
            Az új AdminLTE 3 keretrendszer -ha a jobb felső &nbsp; <i class="fas fa-cogs"></i> &nbsp; ikonnal témát váltunk- felüldefiniálja a primary színt az adott téma színével.<br>
            Érintett osztályok: <code>.card-primary, .bg-primary, a, .text-primary</code>
            <br><br>
            <div class="card card-primary" style="width: 300px;">
                <div class="card-header">
                    Primar fejléc
                </div>
                <div class="card-body">
                    <span class="text-primary">.text-primary szöveg szín</span>
                </div>
            </div>

            <br><br>
            <iframe src="https://giphy.com/embed/QWR1mMjrAev9ZeNOaB" width="240" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/halloween-costume-QWR1mMjrAev9ZeNOaB">via GIPHY</a></p>

        </div>
    </div>

{% endblock %}

{% block body_tail %}
{% endblock %}
